{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-white">
    <a href="/">
              <img src="../../../static/images/instagramlogin.png">
              <div class="instaicon mainicon d-block d-sm-none"></div>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon">
        </span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
            <a class="nav-link" href="{% url 'explore'%}">Explore<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
            <a> <img  src="{{ user.profile.profile_picture.url }}" class="rounded-circle border ml-3 mt-2  mr-3" alt="{{image.user.user.username}}" width="35" height="35"> </a>
            </li>
            <li>
            <a class="nav-item nav-link" href="{% url 'user_profile' user.username %}">{{ user.username }}'s profile</a>
            </li>
            <li>
            <a href="{% url 'index'%}" class="nav-item nav-link">Feed</a>
            </li>
            
        </ul>
        <form class="mb-0 h1 ml-auto mr-auto" id="searchform" action="{% url 'search' %}" >
             <input name="search_user" autocomplete="off" id="searching" class="form-control d-none d-md-block" placeholder="Search">
            <i class="spinner "></i>
        </form>
    </div>
    </nav>

  </body>
</html>

























